body {
    background-color: rgb(5, 248, 25);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: courier;
    font-size: 35px;
  }
  ul
  a:link, a:visited {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  
  a:hover, a:active {
    background-color:rgb(1, 2, 1);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 7, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(6, 250, 39);
  }
  
  .active {
    background-color: #04fa2d;
  }